
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
      

  <%= form_for @post, url: post_path(@post) ,html: {class: "edit-form"}, :action => "update" do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
<hr>
      <%= f.label :content, 'Content' %>
      <%= f.text_field :content %>
<hr>
      <%= f.label :summary, 'Summary' %>
      <%= f.text_field :summary %>
<hr>
      <%= f.label :category %>
      <%= select_tag "category", options_for_select(Category.all.collect{ |u| [u.name] }) %>
<hr>
      <%= f.file_field :image %>
<hr>
      <%= f.submit 'Update', class: 'btn btn-outline-success' %>
      <% end %>
<br>
<%= link_to "Back", :back, class: "btn btn-outline-secondary" %>

    </div>
  </div>


