
<div class="user-edit-page">
  <div class="editleft">
  </div>
  
 <div class="editright">
  <%= form_for @post, url: post_path(@post) ,html: {class: "edit-form"}, :action => "update" do |f| %>
      <h4><%= f.label :title %></h4>
      <%= f.text_area :title, size: "30x2", class: 'text-area text-center', placeholder: "write until your hearts" %>
      <br>

      
      <%= f.text_area :title, size: "30x2" %>
<hr>
      <%= f.label :content, 'Content' %>
      <br>
      <h4><%= f.label :content, 'Content' %></h4>
      <%= f.text_area :content, size: "50x10", class: 'text-area text-center', placeholder: "write until your hearts" %>
      <br>
      <%= f.text_area :summary, size: "50x7" %>
      <br>
      <%= f.text_area :address, size: "20x2" %>
      <%= f.label :location %>
        <br>
      <%= f.label :category %>
      <%= select_tag "category", options_for_select(Category.all.collect{ |u| [u.name] }) %>
      <br>
      <label class="btn btn-outline-secondary">
    Upload image
    <span style="display:none;">
      <%= f.file_field :image, class: "btn btn-outline-secondary" %>
    </span>
  
  </label>
    <%= f.file_field :image %>
      <%= f.submit 'Update', class: 'btn btn-outline-success' %>
      <% end %>
      <br>
      <%= link_to "Back", root_path, class: "btn btn-outline-secondary" %>
      <br>
      <br>

    </div>
  </div>

