  <% if user_signed_in? %>
<<<<<<< HEAD
    <div class="postlogin">
    <nav>
      <div class="navlogo">LOGO</div>
      <ul>
        <li> <%= link_to 'Home', '/home'%></li>
        <li> <%= link_to 'Posts', root_path%></li>
        <li><%= link_to 'Profile', edit_user_registration_path%></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>
      </ul>
    </nav>

<br>
<br>
<br>
<br>
<br>
<br>

    <div class="container">
    <form class="form-inline">
      <%= link_to "ruby", posts_path(category: "ruby"), class: "btn btn-outline-success" %>
      <%= link_to "java", posts_path(category: "java"), class: "btn btn-outline-success" %>
      <%= link_to "HTML", posts_path(category: "HTML"), class: "btn btn-outline-success" %>
      <%= link_to "CSS", posts_path(category: "CSS"), class: "btn btn-outline-success" %>
      <%= link_to "python", posts_path(category: "python"), class: "btn btn-outline-success" %>
      <%= link_to "JavaScript", posts_path(category: "JavaScript"), class: "btn btn-outline-success" %>
      <%= link_to "Fortran", posts_path(category: "Fortran"), class: "btn btn-outline-success" %>
    </form>
      <% @posts.each do |post| %>
      <br>
      <br>
      <div class="card">
      <h5 class="card-header"><%= post.title %></h5>
      <div class="card-body"><%= image_tag(post.user.avatar.service_url) if post.user.avatar.attached? %>
        <h5 class="card-title"><%= post.category.name %></h5>
        <p class="card-text"><%= post.content %></p>
          <%= link_to 'Show', post, class: "btn btn-primary" %>
      </div>
      </div>
      <%end%>
    </div>


  <%= link_to 'Create', new_post_path, class: "btn btn-primary" %>

</div>

  <% else %>

  <div class="landingbody">
    <div class="landingwrapper">
      <nav>
      <div class="navlogo">LOGO</div>
      <ul>
        <li><%= link_to 'Log In', new_user_session_path%></li>
        <li><%= link_to 'Log In', new_user_session_path%></li>
        <li><%= link_to 'Log In', new_user_session_path%></li>
        <li><%= link_to 'Log In', new_user_session_path%></li>
        <li><%= link_to 'Log In', new_user_session_path, class: "active"%></li>
      </ul>
    </nav>
    <section class="landingsec"></section>
    <section class="landingcontent">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section>
    </div>
  </div>  
  <% end %>




