<div class="container">
  <% if user_signed_in? %>
  <nav class="navbar navbar-light bg-light justify-content-center">
    <form class="form-inline">
      <%= link_to "ruby", posts_path(category: "ruby"), class: "btn btn-outline-success" %>
      <%= link_to "java", posts_path(category: "java"), class: "btn btn-outline-success" %>
      <%= link_to "HTML", posts_path(category: "HTML"), class: "btn btn-outline-success" %>
      <%= link_to "CSS", posts_path(category: "CSS"), class: "btn btn-outline-success" %>
      <%= link_to "python", posts_path(category: "python"), class: "btn btn-outline-success" %>
      <%= link_to "JavaScript", posts_path(category: "JavaScript"), class: "btn btn-outline-success" %>
      <%= link_to "Fortran", posts_path(category: "Fortran"), class: "btn btn-outline-success" %>
    </form>
  </nav>

    <% @posts.each do |post| %>
    <br>
    <br>
    <div class="card">
    <h5 class="card-header"><%= post.title %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= post.category.name %></h5>
      <p class="card-text"><%= post.content %></p>
        <%= link_to 'Show', post, class: "btn btn-primary" %>
    </div>
    </div>
  <%end%>



  <%= link_to 'Create', new_post_path, class: "btn btn-primary" %>



  <% else %>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Punny headline</h1>
      <hr>
      <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>

      <%= link_to 'Sign In', new_user_session_path, class: "btn btn-outline-secondary" %>
    
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-outline-secondary" %>
   <hr>

  <p>
   <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  </p>
  <p>
    <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path %>
  </p>
  <p>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, %>
  </p>



    </div>
  </div>
  <% end %>
</div>




