  <% if user_signed_in? %>
<body class="container">

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <%= link_to "ruby", posts_path(category: "ruby"), class: "btn btn-outline-success" %>
      <%= link_to "java", posts_path(category: "java"), class: "btn btn-outline-success" %>
      <%= link_to "HTML", posts_path(category: "HTML"), class: "btn btn-outline-success" %>
      <%= link_to "CSS", posts_path(category: "CSS"), class: "btn btn-outline-success" %>
    </form>
  </nav>

    <% @posts.each do |post| %>
    <br>
    <br>
    <div class="card">
    <h5 class="card-header"><%= post.title %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= post.category.name %></h5>
      <p class="card-text"><%= post.content %></p>
        <%= link_to 'Show', post, class: "btn btn-primary" %>
    </div>
    </div>
  </body>
  <%end%>



  <%= link_to 'Create', new_post_path, class: "btn btn-primary" %>



  <% else %>
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Punny headline</h1>
      <hr>
      <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>

      <%= link_to 'Log In', new_user_session_path, class: "btn btn-outline-secondary"%>
    
      <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-outline-secondary"  %>

    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  <% end %>





