  <% if user_signed_in? %>
    <div class="postlogin">
    <nav>
      <div class="navlogo"><img src="https://i.imgur.com/9KMbz0q.png" alt=""></div>
      <ul>
        <li> <%= link_to 'Posts', root_path%></li>
        <li><%= link_to 'Profile', edit_user_registration_path%></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>
      </ul>
    </nav>


<div class="user-post-page">
  <div class="postleft">
  <br>
      <form class="filter-nav">
      <%= link_to "Ruby", posts_path(category: "ruby"), class: "btn btn-outline-success" %>
      <%= link_to "Java", posts_path(category: "java"), class: "btn btn-outline-success" %>
      <%= link_to "HTML", posts_path(category: "HTML"), class: "btn btn-outline-success" %>
      <%= link_to "CSS", posts_path(category: "CSS"), class: "btn btn-outline-success" %>
      <%= link_to "Python", posts_path(category: "python"), class: "btn btn-outline-success" %>
      <%= link_to "JavaScript", posts_path(category: "JavaScript"), class: "btn btn-outline-success" %>
      <%= link_to "Fortran", posts_path(category: "Fortran"), class: "btn btn-outline-success" %>
      </form>  
  </div>
  
 <div class="postright">
     <div class="container">
     <br>

      <%= link_to 'Create', new_post_path, class: "btn btn-primary create" %>
 
      <% @posts.each do |post| %>
      <br>
      <br>
      <div class="card">
      <h5 class="card-header"><%= post.title %></h5>
      <div class="card-body"><%= image_tag(post.user.avatar.service_url, size: "150x150") if post.user.avatar.attached? %>
        <h5 class="card-title"><%= post.category.name %></h5>
        <p class="card-text"><%= post.content %></p>
          <%= link_to 'Show', post, class: "btn btn-primary" %>
      </div>
      </div>
      <%end%>
    </div>


</div>
 </div>
   
  <% else %>

  <div class="landingbody">
    <div class="landingwrapper">
      <nav>
      <div class="navlogo"><img src="https://i.imgur.com/9KMbz0q.png" alt=""></div>
    </nav>
    <section class="landingsec">
      <%= link_to 'Register', new_user_registration_path, class: "landingpagebutton2"%>    
      <%= link_to 'Log In', new_user_session_path, class: "landingpagebutton1" %>
    </section>
    <section class="landingcontent">
   <p>Technology has revolutionized modern society, we are in an era where you can control the temperature of your cooking from anywhere your smartphone has a connection, to having a voice controlled AI turning on household appliances. A decade ago, self-driving cars were merely a dream. Today they are being created and tested by leading car manufacturers around the world. 
With all these advances in technology lay the visionaries behind these fascinating tools. Coders.
Coding is impacting the future of technology and the future of our lives in ways we are only just beginning to understand.
As we are in the midst of a transitioning to a fully digital world many people are intrigued by the the wonders that allow technology to work.
This is where ‘Teaching2Learn’ comes in.
</p>
<br> 
<p>The internet has created an ease of access to the insight of the world, free knowledge of anything you are interested is but a click away. With all this knowledge, many people have began to research and study their passion, for us it’s coding.
Self-learning is very different to attending school. There is no one around you when you are coding. There are no classmates, there are no social interactions, you cannot find that “grand ceremony” waiting for you at the end of the tunnel. Most of the time you do it alone. And most of the time, you are alone.
Coding is not a simple task to learn. It is mentally taxing and there are times you find yourself copy pasting snippets of code but have no understanding to the intricacies of why it works.
‘Teaching 2 Learn’ solves many if not all of these issues that people come across.
We provide a free peer to peer learning network, creating a fantastic atmosphere where the student receives more time for individualized learning, a direct interaction which promotes active learning while the peer teacher reinforces their own learning by instructing others.</p>
    </section>
    </div>
  </div>  
  <% end %>




