  <% if user_signed_in? %>
    <div class="postlogin">
    <nav>
      <div class="navlogo"><img src="https://i.imgur.com/9KMbz0q.png" alt=""></div>
      <ul>
        <li> <%= link_to 'Posts', root_path%></li>
        <li><%= link_to 'Profile', edit_user_registration_path%></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>
      </ul>
    </nav>


<div class="user-post-page">
  <div class="postleft">
  <br>
      <form class="filter-nav">
      <%= link_to "Ruby", posts_path(category: "ruby"), class: "btn btn-outline-success" %>
      <%= link_to "Java", posts_path(category: "java"), class: "btn btn-outline-success" %>
      <%= link_to "HTML", posts_path(category: "HTML"), class: "btn btn-outline-success" %>
      <%= link_to "CSS", posts_path(category: "CSS"), class: "btn btn-outline-success" %>
      <%= link_to "Python", posts_path(category: "python"), class: "btn btn-outline-success" %>
      <%= link_to "JavaScript", posts_path(category: "JavaScript"), class: "btn btn-outline-success" %>
      <%= link_to "Fortran", posts_path(category: "Fortran"), class: "btn btn-outline-success" %>
      </form>  
  </div>
  
 <div class="postright">
     <div class="container">
     <br>

      <%= link_to 'Create', new_post_path, class: "btn btn-primary create" %>
 
      <% @posts.each do |post| %>
      <br>
      <br>
      <div class="card">
      <h5 class="card-header"><%= post.title %></h5>
      <div class="card-body"><%= image_tag(post.user.avatar.service_url, size: "150x150") if post.user.avatar.attached? %>
        <h5 class="card-title"><%= post.category.name %></h5>
        <p class="card-text"><%= post.content %></p>
          <%= link_to 'Show', post, class: "btn btn-primary" %>
      </div>
      </div>
      <%end%>
    </div>


</div>
 </div>
   
  <% else %>

  <div class="landingbody">
    <div class="landingwrapper">
      <nav>
      <div class="navlogo"><img src="https://i.imgur.com/9KMbz0q.png" alt=""></div>
    </nav>
    <section class="landingsec">
      <%= link_to 'Register', new_user_registration_path, class: "landingpagebutton2 btn btn-success btn-lg"%>    
      <%= link_to 'Log In', new_user_session_path, class: "landingpagebutton1 btn btn-success btn-lg" %>
    </section>
    <section class="landingcontent">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section>
    </div>
  </div>  
  <% end %>




