<div class="position-relative overflow-hidden  text-center bg-light">
  <div class="mx-auto">
  <br>
        <% if user_signed_in? %>
        <%= form_for @post, url: posts_path(@post) ,html: {class: "edit-form"}, :action => "create" do |f| %>
        <h4><%= f.label :title %></h4>
        <%= f.text_area :title, size: "50x2", class: 'text-area text-center', placeholder: "enter a relevant title" %>
        <br>
        <br>
        <h4><%= f.label :content, 'Content' %></h4>
        <%= f.text_area :content, size: "50x10", class: 'text-area text-center', placeholder: "write until your hearts content"  %>
        <br>
        <br>
        <h4><%= f.label :summary, 'Summary' %></h4>
        <%= f.text_area :summary, size: "50x5", class: 'text-area text-center', placeholder: "summarize your hearts content"  %>
        <br>
        <br>
        <h4><%= f.label :category %></h4>
        <%= select_tag "category", options_for_select(Category.all.collect{ |u| [u.name] }) %>
        <br>
        <br>
        <h4><%= f.label :location %></h4>
        <%= f.text_area :address, size: "50x2", class: 'text-area text-center', placeholder: "Enter an address or general location, we'll do the rest"  %>
        <hr>
        <br>
        <br>
        <div><%= f.file_field :image %></div>
        <hr>
        <%= f.submit 'Create', class: 'btn btn-primary ' %>
        <br>
        <br>
        <% end %>
      <% else %>
        <h1 class="edit-form">Please sign in </h1>
      <% end %>
    </div>
  </div>







