<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@post.latitude%>, <%=@post.longitude%>)
    });
  </script>
<% end %>

<br>
<br>
<br>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%=@post.title%></h1>
  <br>
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><%=@post.user.username%></h5>
             <hr>
          <p class="card-text">Author: <%=@post.user.firstname%> | <%=@post.user.lastname%> </p>
          <p>posted: <%=@post.created_at%> </p>
        </div>
    </div>

    <hr class="my-4">
    <p><%=@post.content%></p>
    <p>
    <%= image_tag(@post.image.service_url) if @post.image.attached? %>

    <% if can? :update, @post %>
    <%= link_to "edit", edit_post_path(@post.id), class: "btn btn-primary" %> |
    <% end %>

    <% if can? :destroy, @post %>
    <%= link_to "delete", post_path(@post.id), method: :delete, class: "btn btn-danger"  %>
    <% end %>

<div>
<hr>
<div class="text-center">
<p>If you are interest in getting into contact with the person conduction this lesson send them an email</p>
<%= link_to "email", email_path(@post), class: "btn btn-success"  %>
</div>


<div class="container">
  <p>
    <div id="map"></div>
  </p>
</div>
</div>
  </div>
  <%= render 'layouts/shared/stripe_form' %>
</div>
















