<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@post.latitude%>, <%=@post.longitude%>)
    });
  </script>
<% end  %>


<div class="container-fluid post-show-container" style="background: #fff7d3;">
  <div class="jumbotron " style="background: white;">
    <h1 class="text-center" style="background: $orange;"><%=@post.title%></h1>
  <br>
    <div class="card w-100" style="background: #fff7d3;">
        <div class="card-body">
          <div class="d-flex flex-row">
            <div class="p-2">
                <%= image_tag(@post.user.avatar.service_url , size: "150x150") if @post.user.avatar.attached? %>
            </div>
            <div class="p-2">
              <h5 class="card-title">
              <%=@post.user.username%>
              </h5>
                <hr>
              <p class="card-text">Author: <%=@post.user.firstname%> | <%=@post.user.lastname%> </p>
              <p>posted: <%=@post.created_at%> </p>
            </div>
          </div>
        </div>
    </div>

    <hr class="my-4">
    <p><%=@post.content%></p>
    <div class="text-center">
       <%= image_tag(@post.image.service_url) if @post.image.attached? %>
    </div>
   

    <% if can? :update, @post %>
    <%= link_to "edit", edit_post_path(@post.id), class: "btn btn-primary" %> |
    <% end %>

    <% if can? :destroy, @post %>
    <%= link_to "delete", post_path(@post.id), method: :delete, class: "btn btn-danger"  %>
    <% end %>

<div>
<hr>
<div class="text-center p-5">
<p>If you are interest in getting into contact with the person conduction this lesson send them an email</p>
<%= link_to "email", email_path(@post), class: "btn btn-success"  %>
</div>

    <div class="d-flex justify-content-center">
      <div id="map"></div>
    </div>
</div>
</div>

<div class="center-the-card">
  <div class="card-to-center">
    <%= render 'layouts/shared/stripe_form' %>
  </div>
</div>
<br>

  
<div class="center-the-card">
  <div class="card-to-center">
    <div class="card w-100">
      <div class="card-header text-center">
        <h4>Comments</h4>
      </div>
     <div class="card-body">
    <h3><% @comments.each do |comments| %> </h3> 


        <div class="card-body">
          <div class="d-flex flex-row">
            <div>
              <p><%= comments.comment %> </p>
              <h5><%= comments.user.username %></h5>
              <p>posted: <%=comments.created_at%> </p>
          </div>
        </div>
          <% if can? :update, @post %>
          <%= link_to "edit", edit_comment_path(@post.user.id), class: "btn btn-primary" %> 
          <% end %>

          <% if can? :destroy, @post %>
          <%= link_to "delete", comment_path(@post.user.id), method: :delete, class: "btn btn-danger"  %>
          <% end %>
          <hr>
        </div>
        <% end %>


  <%= form_for @comment, url: comments_path ,html: {class: "edit-form"}, :action => "create" do |f| %>

  <div class="card text-center w-100">
    <div class="card-body">
      <article>
          <h5 class="card-title"><%= f.label "Leave a comment" %></h5>
          <p class="card-text"><%= f.text_area :comment, class: "text-area", size: "50x5"%></p>
          <br>
      </article>
        <%= f.hidden_field(:post_id, :value => @post.id )%>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
    </div>
  </div>
   <% end %>
       

            
           
           
     



      </div>
    </div>
  </div>
</div>




  


    

  </div>


<br>
















